.container {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
  
    .linksContainer {
      display: grid;
      grid-auto-flow: column;
      gap: 20px;
      justify-content: start;
    }
  
    .searchElement {
    }
  }