.container {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 5px;
  
    .name {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
  
    .value {
      font-size: 16px;
      font-weight: medium;
      color: black;
    }
  
    .shift {
      font-size: 16px;
      font-weight: lighter;
      color: gray;
    }
  }