.wrapper {
    display: grid;
    align-content: start;
    justify-content: stretch;
    min-height: 100vh;
    width: 100%;
    .content {
      display: grid;
      grid-auto-flow: row;
      gap: 2.5vh;
      width: 70%;
      margin: auto;
      margin-top: 2.5vh;
    }
  }